<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="resume_maker_dbConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=resume_maker_db;User ID=taewoo;Password=1111"
      providerName="System.Data.SqlClient" />
    <add name="resume_maker_dbConnectionString2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=resume_maker_db;User ID=taewoo;Password=1111"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>